<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  
  <Identity Name="a4d16dc5-3d37-4441-a789-44b4c50acb1f"
            Publisher="CN=Kenny"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BingImageSearchApp</DisplayName>
    <PublisherDisplayName>Kenny</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>BingImageSearchApp</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App" 
        Executable="$targetnametoken$.exe" 
        EntryPoint="BingImageSearchApp.App">
        <VisualElements 
            DisplayName="BingImageSearchApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BingImageSearchApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>